.profile .cardInfo {
    width: 60%;
    height: auto;
    border: 2px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.profile .cardInfo+.cardInfo {
    margin-top: 5vh;
}

.profile .cardInfo .userProfile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 8px;
}

.profile .cardInfo .userProfile .titleRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.profile .infoEditable {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.profile .infoEditable form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}