.root {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

  .loginBox {
    margin-top: 35px;
    background-color: #ffcf4f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}

  .loginText {
    color: #FFFFFF;
    display: flex;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

  .usuario{
    background-color: #FFFFFF;
    border-radius: 5px;
}

  .senha{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

  .botaoentrar {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  @media(max-width: 960px) {
      .loginBox {
        top: 5vh;
        left: 5vw;
        width: 90vw;
        margin-top: 50px;
      }
      .usuario{
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
      }
      .senha{
        width: 90%;
        margin-left: 5%;
      }
      .botaoentrar{
        width: 90%;
        height: 56px;
        margin-bottom: 30px;
        margin-left: 5%;
      }
  }
  
  @media (min-width: 960px){
      .loginBox {
        top: calc(50% - 471px/2 + 0.5px);
        left: calc(50% - 624px/2);
        width: 624px;
        padding: 35px;
      }
      /*PROBLEMAS COM O CSS
      AQUI NO .USUARIO JÁ QUE
      O CSS GLOBAL ESTA ZERANDO A MARGIN*/
      .usuario{
        /* margin-left: 35px; */
        width: 550px;
      }
      .senha{
        /* margin-left: 35px; */
        width: 550px;
      }
      .botaoentrar{
        height: 60px;
        width: 552px; 
        margin-bottom: 30px;
        /* margin-left: 35px; */
      }
  }
